.title {
  font-size: 28px;
  color: #ff6347;
}

.projectItem {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 12px;
  border-radius: 12px;

  background-color: #eaeaea;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (min-width: 1200px) {
  .projectItem {
    flex-direction: row;
  }
}

.projectScreenshot {
  width: 300px;
}
