.linkedin {
  fill: white;
  width: 30px;
  height: 30px;

  transition: fill 200ms linear;
}

.linkedin:hover,
.linkedin:focus {
  fill: #ff6347;
}

.github {
  fill: white;
  width: 30px;
  height: 30px;

  transition: fill 200ms linear;
}

.github:hover,
.github:focus {
  fill: #ff6347;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}

.textContainer {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
  color: rgb(209, 255, 109);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 40px;
  }
}

.description {
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(228, 228, 228);
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.devImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 260px;
  outline: 1px solid white;
}

.devImage {
  max-width: 200px;
  max-height: 260px;
  transform: translate(10%, -10%);
}

@media only screen and (min-width: 768px) {
  .devImageWrapper {
    width: 300px;
    height: 400px;
  }
  .devImage {
    max-width: 300px;
    max-height: 400px;
  }
}

.techStackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media only screen and (min-width: 768px) {
  .techStackContainer {
    gap: 80px;
  }
}

.techStackList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.techStackText {
  font-size: 18px;
  font-weight: 600;
  color: rgb(209, 255, 109);
  border-right: 2px solid rgb(209, 255, 109);
  padding-right: 20px;
}

.techStackItem {
  transition: transform 300ms ease-in;
}

.techStackItem:hover,
.techStackItem:focus {
  transform: translateY(-1rem);
}

.image {
  cursor: pointer;
}

/* SVG styles */
.heroContainer {
  position: relative;
}

.svgFirst {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .svgFirst {
    top: 58%;
    right: 2%;
  }
}

.svgSecond {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: rotate(45deg);
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .svgSecond {
    display: none;
  }
}

.rectangle {
  position: absolute;
  top: 0;
  left: 36%;
  z-index: -1;
  width: 140px;
  transform: translate(30%, -50%);
}

@media only screen and (min-width: 768px) {
  .rectangle {
    transform: translate(-35%, -80%);
  }
}
