/* .contacts {
  background-color: #eaeaea;
} */

.title {
  font-size: 28px;
  color: #ff6347;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 34px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

@media only screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
  }
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;
  border-radius: 50%;
  background-color: #142226;
}

.icon {
  fill: white;
  width: 30px;
  height: 30px;
}

.subtitle {
  color: white;
  font-size: 22px;

  margin-bottom: 10px;
}

.link {
  color: rgb(209, 255, 109);
  font-size: 12px;

  transition: color 250ms linear;
}

.link:hover,
.link:focus {
  color: #ff6347;
}

@media only screen and (min-width: 768px) {
  .icon {
    width: 40px;
    height: 40px;
  }
  .subtitle {
    font-size: 24px;
  }
  .link {
    font-size: 20px;
  }
}
